h2 {
    font-family: 'Roboto Slab', sans-serif;
    color:#FDF0D5;
}
h3 {
    font-family: 'Roboto Slab', sans-serif;
    color:#FDF0D5;
}
p {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 400;
    color:#FDF0D5;
}
table {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 400;
    color:#FDF0D5;
    border-collapse: collapse;
}
td:first-of-type {
    padding-right: 1em;
}
tr:hover {
    background-color: #6f346D;
}
input[type=submit] {
    font-family: 'Zilla Slab', sans-serif;
    background-color:#F0544F;
    height: 28px;
    border: none;
    color: #331832;
}
input[type=time] {
    font-family: 'Zilla Slab', sans-serif;
    background-color:#F0FDD5;
    height: 22px;
    border: 2px solid #F9D48A;
    color: #331832;
}
html {
    background-color:#331832;
}
